:root {
  --brand-W: #fbfcfc;
  --brand-G: #5b7c6b;
  --brand-P: #b9bebb;
}
* {
  /* border: 1px solid red; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
}
.body {
  display: flex;
}
body {
  background-color: var(--brand-P);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #415855;
}

.left {
  flex: 1 1 35%;
  padding: 30px;
  background-color: var(--brand-G);
  color: #d3dad9;
}
.right {
  flex: 1 1 65%;
  padding: 0 30px 30px;
  background-color: var(--brand-W);
}
.ava {
  position: relative;
  width: 250px;
  height: 250px;
}

.ava img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
.header {
  display: flex;
  justify-content: space-between;
}
.nav-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.nav-item {
  color: #17321b;
  text-decoration: none;
  transition: color 0.5s;
  padding: 0 20px;
  line-height: 50px;
}
.nav-item a {
  color: #3b3e3c;
  text-decoration: none;
}
.nav-item a:hover {
  color: #3bb75c;
}

html {
  scroll-behavior: smooth;
}
.projects a {
  color: #17321b;
  text-decoration: none;
  transition: all 0.3s;
  text-decoration: underline;
}
.projects a:hover {
  color: #3bb75c;
}
.right h2 {
  font-size: 20px;
  font-weight: 300;
  padding-bottom: 5px;
  letter-spacing: 5px;
  color: #0b140c;
}
.left h2 {
  font-size: 20px;
  font-weight: 300;
  padding-bottom: 5px;
  letter-spacing: 5px;
  color: #fefefe;
}
section {
  padding: 20px;
}
.name-job {
  height: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.job {
  margin-bottom: 30px;
}
.photo {
  display: flex;
  justify-content: center;
}
.left li {
  margin-bottom: 5px;
}
footer {
  padding: 50px;
}
.footer-body {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.year {
  font-size: 36px;
  font-weight: 800;
  color: #000000;
}
.cat img {
  width: 50px;
}
.logoRS img {
  width: 140px;
}
.contacts a {
  color: #fbfcfc;
}
.contacts span {
  margin-right: 5px;
}
